<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
    </head>
    <body>
        <header>
            <h1>
                <a href="/">{{ hostname }}</a>
            </h1>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>

        </footer>
    </body>
</html>
