<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
    </head>
    <body>
        <header>
            <h1>
                <a href="/">{{ hostname }}</a>
                {{#if handlerId }} / <a href="/{{ handlerId }}">{{ handlerId }}</a>{{/if }}
            </h1>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            <p>by <a href="https://github.com/jeanphix" title="jean-philippe serafin">jeanphix</a></p>
        </footer>
        <script type="text/javascript" src="/static/scripts/vendors/handlebars-v1.3.0.js"></script>
        <script type="text/javascript" src="/static/scripts/views/callback.js"></script>
        <script type="text/javascript" src="/static/scripts/widget.js"></script>
        <script type="text/javascript" src="/static/scripts/app.js"></script>
    </body>
</html>
